# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# CMake build folders
build/
build_cli/
build_codex/
build_codex2/
build_codex3/
build_codex4/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
_deps/

# App runtime binaries
app/bin/
.idea/
